* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
  }

  /* .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #9356DC;
    border-color: #9356DC transparent #9356DC transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */

  /* #spinercontainer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide 0.02s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    z-index: 1000; /*bring this to the very top page
  }
    */
  
  /* @keyframes slide {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
  } */
  
  header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #location{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    background-color: #EAEAEA;
  }

  #location i {
    margin-right: 15px;
  }

  #bookmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    height: 280px;
  }
  #bookmenu h1{
    padding: 45px;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px ;
    height: 50px;
    margin: 30px;
    background: linear-gradient(#FF79DA, #A446B7);
    color: white;
    border-radius: 50px;
  }

  #titleHow{
    padding-left: 20px;
    margin-top: 45px;
    font-size: 20px;
  }

  #HowItWorks{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    gap:40px

  }

  .buttonHowitworks {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    width: 340px;
    background-color: #F6F6F6;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-size: 20px;
    padding-left: 40px;
  }

  .button3 {
    background-color: #F5EDFF; 
  }

  .button3 i {
    color: #9356DC
  }


  .step-number {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #9356DC;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
  }

  .buttonHowitworks i{
    margin-right: 18px;
  }

  #title-resturant{
    padding-left: 20px;
    margin-top: 60px;
    margin-bottom: 22px;
    font-size: 20px;
    align-self: flex-start;


  }

  #restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    margin-top: 65px;
    height: 1225px;
  }


  .restaurant-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .restaurantCard {
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    width: 320px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .restaurantBackgroundImg {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: 50% 50%;
  }

  /* images of the resturants  */

  .img1 {
    background-image: url('./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  }

  .img2 {
    background-image: url('./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
  }

  .img3 {
    background-image: url('./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  }

  .img4 {
    background-image: url('./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
  }

  /* images of the resturants  */

  
  .NEW-button {
    width: 80px;
    height: 30px;
    background-color: #99E2D0;
    color: #008766;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 220px;
    margin-top: 20px; 
  }

  #textInCard {
    padding-left: 15px;
  }
  
  #textInCard p + p {
    margin-top: 5px;
    font-weight: lighter;
  }

  .restaurantCard .fa-heart {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 12px;
    cursor: pointer;
  }


  #TextandHeart{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .fa-regular:hover {
    display: none;
  }
  
  
  footer{
    padding-top: 22px;
    background-color: #353535;
    color:white;
    padding-left: 20px;
    font-size: 20px;
  }

  ul li {
    list-style: none;
  }
  footer h3 {
    font-family: 'Shrikhand';
  }













  


  


  